.width {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
  }
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px
  }
  
  th, td {
    /* border: 1px solid black; */
    padding: 8px;
    text-align: left;
    
  }

  th{
    white-space: nowrap;      /* keeps the content in one line */
  }
  
  button {
    margin-right: 5px;
  }

  .container{
    padding: 20px;
  }

  a {
    cursor: pointer;
  }
  