<div class="container min-h-screen bg-gray-100">
  <h1 class="text-3xl font-bold text-gray-700 mb-4">Add and View Books</h1>
  <hr />
  <div class="h-12 mt-8 bg-[#8f6afb] w-full rounded-t-lg text-white font-semibold text-xl flex items-center pl-6">Add Book</div>
  <form (ngSubmit)="submitForm()" class="bg-white p-6 rounded-b-lg shadow-lg">
    <!-- Book Title -->
    <div class="mb-4">
      <label class="block text-gray-700 font-medium">Book Title:</label>
      <input
        type="text"
        [(ngModel)]="book.bookTitle"
        name="bookTitle"
        required
        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-purple-500 focus:outline-none"
      />
    </div>

    <!-- Author Name -->
    <div class="mb-4">
      <label class="block text-gray-700 font-medium">Author Name:</label>
      <input
        type="text"
        [(ngModel)]="book.bookWriter"
        name="bookWriter"
        required
        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-purple-500 focus:outline-none"
      />
    </div>

    <!-- Book Language -->
    <div class="mb-4">
      <label class="block text-gray-700 font-medium">Book Language:</label>
      <input
        type="text"
        [(ngModel)]="book.language"
        name="language"
        required
        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-purple-500 focus:outline-none"
      />
    </div>

    <!-- About Book -->
    <div class="mb-4">
      <label class="block text-gray-700 font-medium">About Book:</label>
      <textarea
        [(ngModel)]="book.aboutBook"
        name="aboutBook"
        rows="4"
        required
        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-purple-500 focus:outline-none"
      ></textarea>
    </div>

    <!-- Book Image -->
    <div class="mb-4">
      <label class="block text-gray-700 font-medium">Book Image:</label>
      <input
        [(ngModel)]="book.image"
        name="image"
        required
        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-purple-500 focus:outline-none"
       />
    </div>

    <!-- Main Category -->
    <div class="mb-4">
      <label class="block text-gray-700 font-medium">Main Category:</label>
      <select
        id="category"
        [(ngModel)]="selectedCategoryId"
        name="category"
        (change)="onCategoryChange()"
        required
        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-purple-500 focus:outline-none"
      >
        <option value="">Select main category</option>
        <option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.category }}
        </option>
      </select>
    </div>

    <!-- Sub Category -->
    <div class="mb-4">
      <label class="block text-gray-700 font-medium">Sub Category:</label>
      <select
        [(ngModel)]="book.categories"
        name="subcategory"
        required
        multiple
        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-purple-500 focus:outline-none"
      >
        <option value="">Select subcategory</option>
        <option *ngFor="let sub of subCategories" [value]="sub.key">
          {{ sub.title }}
        </option>
      </select>
    </div>

    <!--Book Content-->
    <div class="mb-4">
      <label class="block text-gray-700 font-medium">Book Content:</label>
      <textarea
        [(ngModel)]="book.bookContent"
        name="bookContent"
        rows="4"
        required
        class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-purple-500 focus:outline-none"
      ></textarea>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="w-full bg-[#8f6afb] text-white py-2 px-4 rounded-lg hover:bg-purple-600 transition"
    >
      {{ editIndex !== null ? "Update" : "Submit" }}
    </button>
  </form>
  <div class="overflow-x-auto">
    <table class="w-full ">
      <thead class=" bg-[#8f6afb] text-white text-left ">
        <tr >
          <th class="px-6 py-3 ">S #</th>
          <th class="px-6 py-3 ">Title</th>
          <th class="px-6 py-3">Author</th>
          <th class="px-6 py-3">Language</th>
          <th class="px-6 py-3">Category</th>
          <th class="px-6 py-3">Sub category</th>
          <th class="px-6 py-3">About Book</th>
          <th class="px-6 py-3 text-center">Actions</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let book of bookList; let i = index" class=" hover:bg-gray-50">
          <td>{{i+1}}</td>
          <td class="px-6 py-4 text-gray-800 font-medium  max-w-36 ">
            {{ book.bookTitle }}
          </td>
          <td class="px-6 py-4 text-gray-800 font-medium max-w-36">
            {{ book.bookWriter }}
          </td>
          <td class="px-6 py-4 text-gray-700 capitalize  w-14">{{ book.language }}</td>
          <td class="px-6 py-4 text-gray-700 w-14 ">{{ book.mainCategory }}</td>
          <td class="px-6 py-4 text-gray-700 capitalize  max-w-24">
            {{ book.categories.slice(0, -1).join(', ') }}
          </td>
                    <td class="px-6 py-4 text-gray-700 truncate max-w-36">
            {{ book.aboutBook }}
          </td>
          <td class=" px-6 py-4 text-gray-700 w-24 ">
            <a
              (click)="editBook(i)"
              class=" px-2 py-1 "
            >
            ✎
            </a>
            <a
              (click)="deleteBook(i)"
              class="  px-2 py-1 "
            >
            🗑
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
